{% extends "template.twig" %}
{% block title %}Counting votes{% endblock title %}
{% block content %}
    <p>Public Whip v2 is a rebuild of the popular <a href="https://www.publicwhip.org.uk/">Public Whip</a> website
        on new technology (PHP 7) with clean code, best practices and code quality enforcement.</p>
    <p>You are seeing this page in the very very early days of v2 - but you can check the
        <a href="/docs/docs/Milestones.md">Milestones</a> to see what is planned.</p>
{% endblock content %}