{% extends "template.twig" %}
{% set mainNavSection = 'documentation' %}
{% set title = "Documentation" %}

{% block secondaryNavigation %}
    <li class="nav-item">
        <a class="nav-link" href="/docs/">Read me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/docs/docs/Milestones.md">Milestones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/docs/LICENSE.txt">License</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/docs/docs/CODE_OF_CONDUCT.md">Code of conduct</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/docs/docs/CONTRIBUTING.md">Contributing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/docs/docs/Contact.md">Contact</a>
    </li>
{% endblock secondaryNavigation %}
{% block content %}

    You are viewing file <code>{{ file }}</code>.
    <pre class="code">
    {{ markdownText|raw }}
    </pre>
{% endblock content %}