{% extends "template.twig" %}
{% set mainNavSection = 'divisions' %}
{% if title is not defined %}{% set title = "Division" %}{% endif %}
{% if secondaryNavSection is not defined %}{% set secondaryNavSection = '' %}{% endif %}

{% block secondaryNavigation %}
    <li class="nav-item{% if secondaryNavSection == '' %} active{% endif %}">
        <a class="nav-link" href="/divisions/">All divisions{% if secondaryNavSection == '' %} <span class="sr-only">(current)</span>{% endif %}</a>
    </li>
    <li class="nav-item{% if secondaryNavSection == 'wikiEdited' %} active{% endif %}">
        <a class="nav-link" href="{{ path_for(
            'divisionByHouseDateNumber',
            { 'house':'commons','date':'2019-02-12','divisionNumber':'325' })
        }}">Wiki Edited Division{% if secondaryNavSection == 'wikiEdited' %} <span class="sr-only">(current)</span>{% endif %}</a>
    </li>
    <li class="nav-item{% if secondaryNavSection == 'ordinaryDivision' %} active{% endif %}">
        <a class="nav-link" href="{{ path_for(
            'divisionByHouseDateNumber',
            { 'house':'commons','date':'2019-03-06','divisionNumber':'353' })
        }}">Ordinary Division{% if secondaryNavSection == 'ordinaryDivision' %} <span class="sr-only">(current)</span>{% endif %}</a>
    </li>
{% endblock secondaryNavigation %}